<html>
<head>
  <title><%= h form.title %></title>
</head>
<body>
<article id="index-page">
  <h2>Welcome!</h2>
    <li><a href="/forms/results/<%= form.id %>"><%= h form.title %></a></li>
    <br>
    <form id="message-form" method="POST" action="/forms/<%= form.id %>/newreply">
      <% form.form_fields.each do |field| %>
        <hr>
        <label for="field-<%= field.id %>"><%= field.name %></label>
        <br>
        <textarea id="field-<%= field.id %>" name="form_fields[<%= field.id %>]" placeholder="Enter response"></textarea>
      <% end %>
      <br>
      <button type="submit">Submit Responses</button>
      </form>
    </ul>
</article>
</body>
</html>